*.pyc
*pycache*
.idea
.xml
data/*
.env
wandb/*
results/*
slurm/*
predictions/*
synthmorph-torch/mnist_eval_old/*
synthmorph-torch/mnist_eval/*
synthmorph-torch/mnist_eval
synthmorph-torch/mnist_eval_old
lightning_logs/*
synthmorph-torch/mnist_eval/**/*.png
*.png
hyperdm/*
guided_diffusion/*
old/*
